@{
    ViewData["Title"] = "Home Page";
}
<div id="ts-example">
    <br />
    <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Click Me
    </button>
</div>

<div id="message"></div>
<div>
    Compiler: <input id="compiler" value="TypeScript" onkeyup="document.getElementById('message').innerText = sayHello()" /><br />
    Framework: <input id="framework" value="ASP.NET" onkeyup="document.getElementById('message').innerText = sayHello()" />
</div>


<div>
    By <span data-bind="text: authorName"></span>
    Author Name: <input type="text" data-bind="value: authorName" />
</div>


@section Scripts{
    <script src="~/js/Views/Home/Index.js"></script>
}